@page "/"
@using VoteOnIt.FrontEnd.Services
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IPollService pollService
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@if (polls is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="@polls" TGridItem="PollInfo">
        <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
        <TemplateColumn Title="Options" TGridItem="PollInfo">
            <ul>
                @foreach (var item in @context.Ballot.Options)
                {
                    <li>@item</li>
                }
            </ul>
            }
        </TemplateColumn>
        <TemplateColumn Title="Vote Now!">
            <a href="@GetQRCodeLin(context)">
                <img src="/qr?link=@GetQRCodeLin(context)" style="height:50px" />
            </a>
        </TemplateColumn>

    </QuickGrid>
}


@code {

    string GetQRCodeLin(PollInfo poll)
    {
        return "/vote/" + poll.Id;
    }

    private IQueryable<PollInfo>? polls;

    protected override async Task OnInitializedAsync()
    {
        polls = (await pollService.GetPolls()).AsQueryable();
        await base.OnInitializedAsync();
    }
}